---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div class="particle particle-1"></div>
<div class="particle particle-2"></div>
<div class="particle particle-3"></div>
<div class="particle particle-4"></div>
<div class="particle particle-5"></div>
<div class="particle particle-6"></div>
<div class="particle particle-7"></div>

<section
  class="grid grid-cols-1 md:grid-cols-2 md:pt-20 presentatio"
  id="inicio"
>
  <div class="w-full py-20 flex items-center justify-center">
    <img
      src="/photo2.jpg"
      alt=""
      class="object-cover w-72 h-72 rounded-full border-b-4 border-r-4 border-cyan-400"
    />
  </div>
  <article class="w-full text-white px-10 pb-20 flex flex-col justify-center">
    <h2 class="text-cyan-400 text-2xl font-bold mb-2">LEONARDO VELIZ</h2>
    <span class="block text-2xl font-bold">DESARROLLADOR</span>
    <span class="text-2xl font-bold mb-10"> SOFTWARE JR</span>
    <p class="text-lg mb-10">
      Egresado de la carrera de Ingeniería de sistemas e informática en la
      Universidad Continental, apasionado por la tecnología con experiencia en
      el desarrollo web y conocimientos en diversas tecnologías como JavaScript,
      CSS, HTML, React.js, Node.js, SQL y NoSQL. Familiarizado con tecnologías
      adicionales como PHP con el framework Laravel, conocimientos básicos en
      gestión de proyectos según el PMBOK. Experimentado en proyectos personales
      como desarrollo de páginas e-commerce y módulos CRUD
    </p>
    <div class="flex mb-10">
      <a
        href="https://wa.me/51903211408?text=¡Hola!%20Estoy%20interesado%20en%20tus%20servicios"
        class="text-white mr-10 bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 flex items-center text-center me-2 mb-2"
        >Hablemos</a
      >
      <a
        href="https://drive.google.com/file/d/1JIZ7Vnstg7qYVXrne1cu8HUG4DXDBFeM/view?usp=sharing"
        class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-4 text-center me-2 mb-2"
        >Ver curriculum</a
      >
    </div>
    <div class="flex text-white items-center">
      <span class="mr-2">Echa un vistazo a mi: </span>
      <div class="bg-white rounded-xl w-10 h-10 mx-10">
        <a href="https://github.com/SirBolita">
          <img src="/github2.png" alt="" />
        </a>
      </div>
      <a
        href="https://www.linkedin.com/in/leonardo-carlos-veliz-arce-63263626b/"
      >
        <img src="/linkedin2.png" alt="" class="rounded-xl w-10 h-10" />
      </a>
    </div>
  </article>
</section>
<h3
  id="proyectos"
  class="text-white text-start px-10 sm:px-32 text-3xl font-bold pt-10 w-full"
>
  Proyectos
</h3>
<section
  class="grid grid-cols-1 w-full py-20 md:grid-cols-2 lg:grid-cols-3 gap-5"
>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 border-violet-900 border-4 text-white my-2 rounded-xl relative"
  >
    <img src="/evofit.jpg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">EVOFIT</h4>
      <p class="mb-5">
        Plataforma virtual de entrenamiento fitness integrado con Inteligencia
        Artificial
      </p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex my-6">
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/react.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/python.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/nodejs.png" alt="" class="object-cover w-14 h-14 mx-2" />
      </div>
      <a
        href="https://youtu.be/imI9rQVHjL4"
        class="absolute bottom-2 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Ver Demo</a
      >
    </div>
  </article>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 border-violet-900 border-4 text-white my-2 rounded-xl relative"
  >
    <img src="/Dolphine-commerce.jpeg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">Dolphine-commerce</h4>
      <p class="mb-5">
        Plataforma de ventas y ensamblaje de componentes electrónicos
      </p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex mb-6">
        <img src="/laravel.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/sql.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/tailwind.png" alt="" class="object-cover w-14 h-14 mx-2" />
      </div>
      <a
        href="https://youtu.be/WFWapRldKzI"
        class="text-white absolute bottom-2 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Ver Demo</a
      >
    </div>
  </article>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 border-violet-900 border-4 text-white my-2 rounded-xl relative"
  >
    <img src="/FreeCourses.com.jpg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">FreeCourses.com</h4>
      <p class="mb-5">
        Plataforma web de publicacion y administracion de cursos online para la
        empresa Dolphine Consulting and Ti Solutions
      </p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex mb-6">
        <img src="/laravel.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/sql.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/tailwind.png" alt="" class="object-cover w-14 h-14 mx-2" />
      </div>
      <a
        href="https://youtu.be/UePec31GGvQ"
        class="text-white absolute bottom-2 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Ver Demo</a
      >
    </div>
  </article>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 border-violet-900 border-4 text-white my-2 rounded-xl relative"
  >
    <img src="/unischool.jpeg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">UNISCHOOL</h4>
      <p class="mb-5">
        Plataforma web para la gestion academica del colegio Unischool
      </p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex mb-6">
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/laravel.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/css.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/sql.png" alt="" class="object-cover w-14 h-14 mx-2" />
      </div>
    </div>
  </article>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 border-violet-900 border-4 text-white my-2 rounded-xl relative"
  >
    <img src="/HuancaTrabajos.com.jpg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">HUANCATRABAJOS.COM</h4>
      <p class="mb-5">
        Plataforma web de busqueda y contratacion de trabajos de oficio
      </p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex mb-6">
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/laravel.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/css.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/sql.png" alt="" class="object-cover w-14 h-14 mx-2" />
      </div>
      <a
        href="https://youtu.be/up5ECQMtMnQ"
        class="text-white absolute bottom-2 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Ver Demo</a
      >
    </div>
  </article>
</section>

<section class="w-full flex items-center justify-center py-20 skills">
  <div class="h-auto w-[86%]">
    <h2 id="habilidades" class="font-bold text-3xl text-white">Habilidades</h2>
    <div
      class="mt-20 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 items-center relative"
    >
      <img
        src="/react.png"
        alt="React"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto"
      />
      <img
        src="/javascript.png"
        alt="JavaScript"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto"
      />
      <img
        src="/css.png"
        alt="CSS"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto"
      />
      <img
        src="/tailwind.png"
        alt="Tailwind"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto"
      />
      <img
        src="/nodejs.png"
        alt="Node.js"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto"
      />
      <img
        src="/python.png"
        alt="Python"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto"
      />
      <img
        src="/sql.png"
        alt="SQL"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto"
      />
      <img
        src="/laravel.png"
        alt="Laravel"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto"
      />
      <img
        src="/html.png"
        alt="HTML"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto"
      />
      <img
        src="/GitHub.png"
        alt="GitHub"
        class="object-cover w-20 h-20 shadow-lg shadow-white p-4 mx-auto github"
      />
    </div>
  </div>
</section>

<section class="mx-10 lg:mx-32 py-20" id="estudios">
  <div class="w-full">
    <h2 class="text-3xl mb-10 font-bold">Estudios</h2>
    <div
      class="relative w-full h-36 pl-10 flex flex-col items-star justify-center"
    >
      <p class="about-me">Egresado en ingeniera de sistemas e Informatica</p>
      <p class="font-bold">Universidad Continental - 2024</p>
    </div>
    <div
      class="relative w-full h-36 pl-10 pt-10 flex flex-col items-star justify-center"
    >
      <p class="about-me">
        Curso CCNAv7: Redes empresariales, Seguridad y Automatización
      </p>
      <p class="font-bold">Cisco Networking Academy - 2024</p>
    </div>
    <div
      class="relative w-full h-36 pl-10 flex flex-col items-star justify-center"
    >
      <p class="about-me">Curso Profesional de Front end</p>
      <p class="font-bold">Udemy - 2024</p>
    </div>
  </div>
</section>
<section class="mx-10 lg:mx-32 py-20" id="sobre_mi">
  <h2 class="font-bold text-3xl text-white mb-10">Sobre mi</h2>
  <div class="">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full">
      <p class="w-full sm:w-3/4 text-lg">
        Soy un apasionado del desarrollo de software y la tecnología, con un
        fuerte compromiso con el trabajo en equipo y la resolución de desafíos.
        Disfruto ayudar a otros a alcanzar sus objetivos y superar obstáculos.
        Además de mi interés profesional, tengo pasión por el arte y la
        natación, actividades que inspiran mi creatividad y disciplina. Me
        considero una persona de aprendizaje rápido, con habilidades sólidas de
        comunicación, siempre en busca de nuevas oportunidades para colaborar,
        aportar valor y crecer tanto personal como profesionalmente.
      </p>
      <img src="/Cat.gif
      " alt="" class="" />
    </div>
  </div>
</section>
<section class="contact-me mx-10 lg:mx-32 py-20" id="contacto">
  <h2 class="font-bold text-3xl text-white mb-10">Contacto</h2>
  <div
    class="grid grid-cols-2 pl-10 py-10 lg:grid-cols-4 items-center justify-center gap-10"
  >
    <a
      href="https://wa.me/51903211408?text=¡Hola!%20Estoy%20interesado%20en%20tus%20servicios"
      class="w-2/4 flex items-center justify-center"
    >
      <img src="/whatsapp.png" alt="" class="object-cover w-10 h-10 mr-2" />
      <p>Whatsapp</p>
    </a>
    <a
      href="https://github.com/SirBolita"
      class="w-2/4 flex items-center justify-center"
    >
      <img
        src="/github2.png"
        alt=""
        class="object-cover w-10 h-10 github mr-2"
      />
      <p>Github</p>
    </a>
    <a
      href="https://www.instagram.com/leonardo_veliz_arce/"
      class="w-2/4 flex items-center justify-center"
    >
      <img src="/instagram.png" alt="" class="object-cover w-10 h-10 mr-2" />
      <p>Instagram</p>
    </a>
    <a
      href="https://www.linkedin.com/in/leonardo-carlos-veliz-arce-63263626b/"
      class="w-2/4 flex items-center justify-center"
    >
      <img src="/linkedin2.png" alt="" class="object-cover w-10 h-10 mr-2" />
      <p>Linkedin</p>
    </a>
  </div>
</section>

<style>
  .bar::after,
  .bar::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
  }
  .bar::after {
    right: 0;
    top: -3px;
  }
  .bar::before {
    left: 0;
    top: -3px;
  }
  .particle {
    position: absolute;
    filter: blur(100px);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: -1;
  }
  .particle-1 {
    left: 0%;
    bottom: 50%;
    background: rgb(45, 47, 192);
  }
  .particle-2 {
    right: 0%;
    top: 0%;
    background: rgb(45, 47, 192);
  }
  .particle-3 {
    top: 10%;
    left: 0%;
    background: rgb(45, 47, 192);
  }
  .particle-4 {
    left: 0%;
    bottom: 0%;
    background: rgb(45, 47, 192);
  }
  .particle-5 {
    right: 50%;
    top: 25%;
    background: rgb(45, 47, 192);
  }
  .particle-6 {
    right: 0%;
    top: 50%;
    background: rgb(45, 47, 192);
  }
  .particle-7 {
    right: 50%;
    bottom: 20%;
    background: rgb(45, 47, 192);
  }
  .github {
    filter: drop-shadow(0 0 0.4rem #ffffff);
  }
  .about-me::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    top: 18%;
    box-shadow: 0 0 20px 5px #ffffff;
  }
  .about-me::before {
    content: "";
    width: 1px;
    height: 150px;
    background-color: white;
    position: absolute;
    left: 7px;
    top: 20%;
  }
</style>
