---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<section class="grid grid-cols-1 md:grid-cols-2 md:pt-20">
  <div class="w-full h-[600px] flex items-center justify-center">
    <img src="/photo.jpg" alt="" class="object-cover w-72 h-72 rounded-full" />
  </div>
  <article class="w-full text-white px-10 pb-20 flex flex-col justify-center">
    <h2 class="text-cyan-400 text-2xl font-bold mb-2">LEONARDO VELIZ</h2>
    <span class="block text-2xl font-bold">DESARROLLADOR</span>
    <span class="text-2xl font-bold mb-10"> SOFTWARE JR</span>
    <p class="text-lg mb-10">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, minus
      voluptate! Necessitatibus amet perferendis qui quas minus sed ea autem
      ipsa minima eius dignissimos veniam cum odio beatae, explicabo similique?
    </p>
    <div class="flex mb-10">
      <a
        href=""
        class="text-white py-5 bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 text-center me-2 mb-2"
        >Hablemos</a
      >
      <a
        href=""
        class="text-white py-5 bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 text-center me-2 mb-2"
        >Ver curriculum</a
      >
    </div>
    <div class="flex text-white">
      <span>Echa un vistazo a mi</span>
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
  </article>
</section>
<h3 class="text-white text-center text-2xl font-bold pt-5 bg-black w-full">
  Proyectos
</h3>
<section
  class="grid grid-cols-1 w-full bg-black py-20 md:grid-cols-2 lg:grid-cols-3 gap-5"
>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 text-white my-2 rounded-xl relative"
  >
    <img src="/evofit.jpg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">EVOFIT</h4>
      <p class="mb-5">
        Plataforma virtual de entrenamiento fitness integrado con Inteligencia
        Artificial
      </p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex my-6">
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/react.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/python.png" alt="" class="object-cover w-14 h-14 mx-2" />
        <img src="/nodejs.png" alt="" class="object-cover w-14 h-14 mx-2" />
      </div>
      <a
        href="https://youtu.be/imI9rQVHjL4"
        class="absolute bottom-2 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Ver Demo</a
      >
    </div>
  </article>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 text-white my-2 rounded-xl relative"
  >
    <img src="/Dolphine-commerce.jpeg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">Dolphine-commerce</h4>
      <p class="mb-5">Plataforma de ventas y esamblaje de componentes gamer</p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex mb-6">
        <img src="/laravel.png" alt="" class="object-cover w-14 h-14" />
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14" />
        <img src="/css.png" alt="" class="object-cover w-14 h-14" />
        <img src="/tailwind.png" alt="" class="object-cover w-14 h-14" />
      </div>
      <a
        href="https://youtu.be/vQuZFWCG6QE"
        class="text-white absolute bottom-2 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Ver Demo</a
      >
    </div>
  </article>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 text-white my-2 rounded-xl relative"
  >
    <img src="/FreeCourses.com.jpg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">FreeCourses.com</h4>
      <p class="mb-5">
        Plataforma web de publicacion y administracion de cursos online para la
        empresa Dolphine Consulting and Ti Solutions
      </p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex mb-6">
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14" />
        <img src="/react.png" alt="" class="object-cover w-14 h-14" />
        <img src="/python.png" alt="" class="object-cover w-14 h-14" />
        <img src="/nodejs.png" alt="" class="object-cover w-14 h-14" />
      </div>
      <a
        href="https://youtu.be/imI9rQVHjL4"
        class="text-white absolute bottom-2 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Ver Demo</a
      >
    </div>
  </article>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 text-white my-2 rounded-xl relative"
  >
    <img src="/unischool.jpeg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">UNISCHOOL</h4>
      <p class="mb-5">
        Plataforma web para la gestion academica del colegio Unischool
      </p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex mb-6">
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14" />
        <img src="/react.png" alt="" class="object-cover w-14 h-14" />
        <img src="/python.png" alt="" class="object-cover w-14 h-14" />
        <img src="/nodejs.png" alt="" class="object-cover w-14 h-14" />
      </div>
      <a
        href="https://youtu.be/imI9rQVHjL4"
        class="text-white absolute bottom-2 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Ver Demo</a
      >
    </div>
  </article>
  <article
    class="w-[350px] mx-auto h-[500px] bg-violet-500 text-white my-2 rounded-xl relative"
  >
    <img src="/unischool.jpeg" alt="" class="object-cover w-full" />
    <div class="px-6 pt-5">
      <h4 class="mb-2 font-bold">HUANCATRABAJOS.COM</h4>
      <p class="mb-5">
        Plataforma web de busqueda y contratacion de trabajos de oficio
      </p>
      <h4 class="my-2">TECONOLOGIAS USADAS</h4>
      <div class="flex mb-6">
        <img src="/javascript.png" alt="" class="object-cover w-14 h-14" />
        <img src="/laravel.png" alt="" class="object-cover w-14 h-14" />
        <img src="/python.png" alt="" class="object-cover w-14 h-14" />
        <img src="/nodejs.png" alt="" class="object-cover w-14 h-14" />
      </div>
      <a
        href="https://youtu.be/imI9rQVHjL4"
        class="text-white absolute bottom-2 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Ver Demo</a
      >
    </div>
  </article>
</section>
