---
import HeaderComponent from "../components/HeaderComponent.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>KobaDeveloper.com</title>
  </head>
  <body>
    <HeaderComponent />

    <main class="">
      <slot />
    </main>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
  body {
    background: radial-gradient(circle, #1d1d2b, #0d0d14);
    color: white;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    position: relative;
  }
</style>
